<div class="container mt-4">
    <div class="card">
        <div class="card-board">
            <span class="h3" style="color: #2c6d3c; font-weight: bold;">
                Lista de Membros
            </span>
            <button id="buttonAdicionar" type="button" class="btn float-end mt-1"
                style="background-color: #2c6d3c; color: #ffffff;" routerLink="/adicionar-editar-membro">
                Adicionar
            </button>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Nome Completo</th>
                        <th>Data de Nascimento</th>
                        <th>Estado Cívil</th>
                        <th>Bairro</th>
                        <th>Cidade</th>
                        <th>Operações</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr>
                        <td>Mark</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>Mark</td>
                        <td>
                            <i class="fas fa-user-edit fa-lg mr-10"
                                style="color: #2c6d3c; margin-right: 10px; cursor: pointer;"></i>
                            <i class="fas fa-trash fa-lg" style="color: #921e11; cursor: pointer;"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Mark</td>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>Mark</td>
                        <td>
                            <i class="fas fa-user-edit fa-lg mr-10"
                                style="color: #2c6d3c; margin-right: 10px; cursor: pointer;"></i>
                            <i class="fas fa-trash fa-lg" style="color: #921e11; cursor: pointer;"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Mark</td>
                        <td>Mark</td>
                        <td>Mark</td>
                        <td>Mark</td>
                        <td>Mark</td>
                        <td>
                            <i class="fas fa-user-edit fa-lg mr-10"
                                style="color: #2c6d3c; margin-right: 10px; cursor: pointer;"></i>
                            <i class="fas fa-trash fa-lg" style="color: #921e11; cursor: pointer;"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>